body {
    background-color: ; 
    font-family: 'Nunito', sans-serif;
}
#home{
    background-color: ;
}
#about {
    background-color:;
}
#portfolio {
    background-color:;
}
#blog {
    background-color: ;
}
#contact {
    background-color: ;
}
#media {
    background-color: ;
}
#footer {
    background-color:;
}